---
import BaseLayout from '../layouts/BaseLayout.astro';
import Credit from '../components/credit.astro';
---

<BaseLayout 
  description="Official site for the Calamity Creatures mod"
>

<div class="max-w-3xl w-full">
	<div class="relative mb-8">
		<div class="absolute -top-20 bg-[#78565d]/90 text-white px-4 py-4 shadow-xl shadow-gray-950/40 backdrop-blur-md rounded-t-2xl border-4 border-[#543b46] border-b-0 whitespace-nowrap max-w-full sm:max-w-fit">
			<h2 class="text-3xl md:text-5xl font-bold mb-4">Credits</h2>
		</div>

		<div class="mt-6 bg-[#78565d]/90 text-white rounded-2xl p-8 shadow-xl shadow-gray-950/40 backdrop-blur-md border-4 border-[#543b46] pt-8 rounded-tl-none rounded-b-none border-tl-0"> 
			<div class="items-center max-w-7xl mx-auto">
        <Credit role="Director, ideas guy" name="Nooblord"></Credit>
        <Credit role="Artist, Animator, UI Designer, Playtester" name="Iccer"></Credit>
        <Credit role="Composer" name="NOshiz"></Credit>
        <Credit role="Programmer, Cutscene Animator, UX Designer, Charter" name="picnic"></Credit>
        <Credit role="Artist, Animator" name="juztexd" last={true}></Credit>
			</div>
		</div>
	</div>
</div>

</BaseLayout>