---
import BaseLayout from '../layouts/BaseLayout.astro';
import bannerImage from '../assets/banner.png';
import { Image } from 'astro:assets';
---

<BaseLayout
	description="Official site for the Calamity Creatures mod"
>

<div class="max-w-6xl w-full">
	<div class="relative mb-8">
		<div class="absolute -top-20 bg-[#78565d]/90 text-white px-4 py-4 shadow-xl shadow-gray-950/40 backdrop-blur-md rounded-t-2xl border-4 border-[#543b46] border-b-0 whitespace-nowrap max-w-full sm:max-w-fit">
			<h2 class="text-3xl md:text-5xl font-bold mb-4">About</h2>
		</div>

		<div class="mt-6 bg-[#78565d]/90 text-white rounded-2xl p-10 shadow-xl shadow-gray-950/40 backdrop-blur-md border-4 border-[#543b46] pt-8 rounded-tl-none border-tl-0 rounded-b-none">
			<div class="grid md:grid-cols-2 gap-8 items-center max-w-7xl mx-auto mb-2 mt-2">

				<div class="space-y-8">

					<div class="bg-[#9c6b6c] p-4 rounded-xl border-4 border-[#543b46]">
						<p class="text-xl font-medium">Welcome to the website!</p>
					</div>

					<p class="text-lg leading-relaxed">
						Calamity Creatures brings the world of Terraria's Calamity Mod to Friday Night Funkin'. Explore unique environments as you face off against foes in rap battles. The first release introduces Summ-1, a summoner who finds himself in an unexpected rap battle. More characters and worlds are coming soon!
					</p>

					<div class="bg-[#9c6b6c] p-3 rounded-lg border-4 border-[#543b46]">
						<p class="font-semibold">Special Mechanics</p>
						<p class="text-sm">Each character features unique gameplay elements. For Summ-1 those are health drain and an adrenaline system that rewards percision.</p>
					</div>

				</div>

				<div class="relative group">
					<div class="border-4 border-[#543b46] rounded-xl h-[400px] flex items-center justify-center overflow-hidden">
						<div class="text-center w-full h-full flex items-center justify-center">
							<Image src={bannerImage}
							alt="Banner"
							class="w-full h-full object-cover"
							loading="eager"
							fetchpriority="high"
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</BaseLayout>