---
import BaseLayout from '@layouts/BaseLayout.astro';

import Window from '@components/Window.astro';

import BannerImage from '@assets/banner.png';
import {Image} from 'astro:assets';
---

<BaseLayout title=`Home`>

<Window title="Home">

<div class="grid md:grid-cols-2 gap-8 items-center max-w-7xl mx-auto">
		<div class="space-y-8">

			<div class="bg-[#9c6b6c] p-4 rounded-xl border-4 border-[#543b46]">
				<h3 class="text-3xl font-medium">Welcome to the website!</h3>
			</div>

			<p class="text-lg leading-relaxed">
				Calamity Creatures brings the world of Terraria's Calamity Mod to Friday Night Funkin'. Explore unique environments as you face off against foes in rap battles. The first release introduces Summ-1, a summoner who finds himself in an unexpected rap battle. More characters and worlds are coming soon!
			</p>

			<div class="bg-[#9c6b6c] p-3 rounded-lg border-4 border-[#543b46]">
				<p class="font-semibold">Special Mechanics</p>
				<p class="text-sm">Each character features unique gameplay elements. For Summ-1 those are health drain and an adrenaline system that rewards percision.</p>
			</div>

		</div>

		<div class="relative group">
			<div class="border-4 border-[#543b46] rounded-xl flex items-center justify-center overflow-hidden">
				<div class="text-center w-full h-full flex items-center justify-center">
					<Image src={BannerImage}
            alt="Banner"
            class="w-full h-full object-cover"
            loading="eager"
            fetchpriority="high"
					>
				</div>
			</div>
		</div>
	</div>
</div>

</Window>


</BaseLayout>