---
interface Props {
  name: string;
  role: string;
  last?: boolean; // true = this is the FINAL item in the list // What was I on dude the sky is BLUE
}

const { name, role, last = false } = Astro.props;
---

<h3 class="text-2xl font-bold text-center">{role}</h3>
<p class={`text-xl font-medium text-center mb-${last ? '0' : '4'}`}>{name}</p>

{!last && (<div class="border-2 border-[#543b46] mb-4"></div>)}