<div class="
  p-2
  mt-8
  mb-8
  w-auto bg-[#78565d]/90
  backdrop-blur-md
  rounded-xl
  border-4
  border-[#543b46]
  shadow-xl
  shadow-gray-950/40
  text-white
">
		<p class="text-center text-[#e0e0e0]" style="user-select: none;">
      This project is in no way shape or form affiliated with Re-Logic nor the Calamity Mod team. All rights belong to their respective owners.
    </p>
</div>